<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    {# Lien vers CSS compilé #}
    <link rel="stylesheet" href="{{ base_url }}/dist/css/style.css">

</head>
<body>

    <h1>{{ title }}</h1>
    <p>{{ content }}</p>

</body>
</html>
